node_modules
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore the frontend build dir in the host, docker will build it
frontend/dist/

# Git
.git
.gitignore
.github

# Environment Variables
.env
.env.*

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
